<a href="https://colab.research.google.com/github/dewaalaw/dsprojects/blob/main/market-basket-analysis/src/mba-data-analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
#Several outputs in one shell
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [4]:
import warnings
warnings.filterwarnings("ignore")
warnings.filterwarnings(action="ignore", category=DeprecationWarning)

In [5]:
from IPython.display import display
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [6]:
from google.colab import drive
drive.mount('/gdrive')
%cd /gdrive

Mounted at /gdrive
/gdrive

In [24]:
#Import data
customer = pd.read_csv("/gdrive/MyDrive/MarketBasketAnalysis/foodmarketdata/customer.csv")
customer.head()

,customer_id,ordinal,account_num,lname,fname,mi,address1,address2,address3,address4,city,state_province,postal_code,country,customer_region_id,phone1,phone2,birthdate,marital_status,yearly_income,gender,total_children,num_children_at_home,education,date_accnt_opened,member_card,occupation,houseowner,num_cars_owned
0,1,7329,87462024688,Nowmer,Sheri,A.,2433 Bailey Road,NaN,NaN,NaN,Tlaxiaco,Oaxaca,15057,Mexico,30,271-555-9715,119-555-1969,1961-08-26,S,$110K - $130K,F,4,1,Partial College,1991-09-10,Bronze,Skilled Manual,Y,4
1,2,4098,87470586299,Whelply,Derrick,I.,2219 Dewing Avenue,NaN,NaN,NaN,Sooke,BC,17172,Canada,101,211-555-7669,807-555-9033,1915-07-03,M,$50K - $70K,M,1,0,Graduate Degree,1993-03-11,Bronze,Professional,N,3
2,3,26757,87475757600,Derry,Jeanne,NaN,7640 First Ave.,NaN,NaN,NaN,Issaquah,WA,73980,USA,21,656-555-2272,221-555-2493,1910-06-21,M,$30K - $50K,F,1,1,Partial High School,1991-06-11,Bronze,Professional,Y,2
3,4,174,87500482201,Spence,Michael,J.,337 Tosca Way,NaN,NaN,NaN,Burnaby,BC,74674,Canada,92,929-555-7279,272-555-2844,1969-06-20,S,$10K - $30K,M,4,0,Partial High School,1994-05-21,Normal,Skilled Manual,N,2
4,5,16995,87514054179,Gutierrez,Maya,NaN,8668 Via Neruda,NaN,NaN,NaN,Novato,CA,57355,USA,42,387-555-7172,260-555-6936,1951-05-10,M,$110K - $130K,F,3,0,High School Degree,1992-08-21,Silver,Manual,N,3

In [ ]:

product = pd.read_csv("/gdrive/MyDrive/MarketBasketAnalysis/foodmarketdata/product.csv")
product.head()

In [ ]:
product_class = pd.read_csv("/gdrive/MyDrive/MarketBasketAnalysis/foodmarketdata/product_class.csv")
product_class.head()

In [25]:
region = pd.read_csv("/gdrive/MyDrive/MarketBasketAnalysis/foodmarketdata/region.csv")
region.head()

,region_id,sales_city,sales_state_province,sales_district,sales_region,sales_country,sales_district_id
0,0,None,None,No District,No Region,No Country,0
1,1,San Francisco,CA,San Francisco,Central West,USA,123
2,2,Mexico City,DF,Mexico City,Mexico Central,Mexico,118
3,3,Los Angeles,CA,Los Angeles,South West,USA,116
4,4,Guadalajara,Jalisco,Guadalajara,Mexico West,Mexico,114

In [29]:
df = pd.read_csv("/gdrive/MyDrive/MarketBasketAnalysis/foodmarketdata/sales_fact.csv")
df.head()

,product_id,time_id,customer_id,promotion_id,store_id,store_sales,store_cost,unit_sales
0,337,371,6280,0,2,1.50,0.5100,2
1,1512,371,6280,0,2,1.62,0.6318,3
2,963,371,4018,0,2,2.40,0.7200,1
3,181,371,4018,0,2,2.79,1323.0000,3
4,1383,371,4018,0,2,5.18,2.1756,2

In [ ]:
store = pd.read_csv("/gdrive/MyDrive/MarketBasketAnalysis/foodmarketdata/store.csv")
store.head()

In [ ]:
time_by_day = pd.read_csv("/gdrive/MyDrive/MarketBasketAnalysis/foodmarketdata/time_by_day.csv")
time_by_day.head()

## Data Preprocessing

In [30]:
df = df.merge(customer, on='customer_id')
df.head()

,product_id,time_id,customer_id,promotion_id,store_id,store_sales,store_cost,unit_sales,ordinal,account_num,lname,fname,mi,address1,address2,address3,address4,city,state_province,postal_code,country,customer_region_id,phone1,phone2,birthdate,marital_status,yearly_income,gender,total_children,num_children_at_home,education,date_accnt_opened,member_card,occupation,houseowner,num_cars_owned
0,337,371,6280,0,2,1.50,0.5100,2,24852,49608572100,Hayes,Thomas,NaN,4351 Azores Court,NaN,NaN,NaN,Anacortes,WA,98752,USA,79,180-555-6028,799-555-6021,1965-04-14,S,$90K - $110K,F,5,3,High School Degree,1993-01-14,Bronze,Skilled Manual,Y,3
1,1512,371,6280,0,2,1.62,0.6318,3,24852,49608572100,Hayes,Thomas,NaN,4351 Azores Court,NaN,NaN,NaN,Anacortes,WA,98752,USA,79,180-555-6028,799-555-6021,1965-04-14,S,$90K - $110K,F,5,3,High School Degree,1993-01-14,Bronze,Skilled Manual,Y,3
2,963,371,4018,0,2,2.40,0.7200,1,29538,31752822400,Fead,Doug,NaN,5290 Pennsylvania Blvd,NaN,NaN,NaN,Sedro Woolley,WA,96175,USA,80,370-555-8846,966-555-1211,1943-06-12,S,$110K - $130K,F,4,3,Partial College,1992-05-07,Silver,Management,Y,2
3,181,371,4018,0,2,2.79,1323.0000,3,29538,31752822400,Fead,Doug,NaN,5290 Pennsylvania Blvd,NaN,NaN,NaN,Sedro Woolley,WA,96175,USA,80,370-555-8846,966-555-1211,1943-06-12,S,$110K - $130K,F,4,3,Partial College,1992-05-07,Silver,Management,Y,2
4,1383,371,4018,0,2,5.18,2.1756,2,29538,31752822400,Fead,Doug,NaN,5290 Pennsylvania Blvd,NaN,NaN,NaN,Sedro Woolley,WA,96175,USA,80,370-555-8846,966-555-1211,1943-06-12,S,$110K - $130K,F,4,3,Partial College,1992-05-07,Silver,Management,Y,2

In [31]:
df = df.merge(product, on='product_id')
df.head()

,product_id,time_id,customer_id,promotion_id,store_id,store_sales,store_cost,unit_sales,ordinal,account_num,lname,fname,mi,address1,address2,address3,address4,city,state_province,postal_code,country,customer_region_id,phone1,phone2,birthdate,marital_status,yearly_income,gender,total_children,num_children_at_home,education,date_accnt_opened,member_card,occupation,houseowner,num_cars_owned,product_class_id,brand_name,product_name,sku,srp,gross_weight,net_weight,recyclable_package,low_fat,units_per_case,cases_per_pallet,shelf_width,shelf_height,shelf_depth
0,337,371,6280,0,2,1.50,0.5100,2,24852,49608572100,Hayes,Thomas,NaN,4351 Azores Court,NaN,NaN,NaN,Anacortes,WA,98752,USA,79,180-555-6028,799-555-6021,1965-04-14,S,$90K - $110K,F,5,3,High School Degree,1993-01-14,Bronze,Skilled Manual,Y,3,58,Better,Better Turkey Noodle Soup,17979437708,0.75,8.34,7.34,t,t,9,10,18.4,21.6,4.76
1,337,987,5713,0,2,0.75,0.2775,1,24615,44806522130,Wiles,Bridgette,M.,362 Michigan Blvd.,NaN,NaN,NaN,Anacortes,WA,32333,USA,79,765-555-1071,262-555-5407,1955-07-15,S,$130K - $150K,M,3,0,Bachelors Degree,1993-08-06,Bronze,Professional,N,1,58,Better,Better Turkey Noodle Soup,17979437708,0.75,8.34,7.34,t,t,9,10,18.4,21.6,4.76
2,337,826,7413,0,3,2.25,1.1025,3,25746,59118344187,Salazar,Vala,J.,3168 Limewood Pl.,NaN,NaN,NaN,Bremerton,WA,10547,USA,76,106-555-5276,879-555-5040,1977-08-03,M,$30K - $50K,F,3,0,Partial College,1993-12-20,Normal,Manual,Y,1,58,Better,Better Turkey Noodle Soup,17979437708,0.75,8.34,7.34,t,t,9,10,18.4,21.6,4.76
3,337,765,1005,0,3,3.00,1.1400,4,25653,10070767400,Drake,Melvin,NaN,9471 Shelly Dr.,NaN,NaN,NaN,Bremerton,WA,74846,USA,76,954-555-4983,496-555-6576,1969-12-25,S,$30K - $50K,M,2,0,High School Degree,1993-01-20,Normal,Management,Y,0,58,Better,Better Turkey Noodle Soup,17979437708,0.75,8.34,7.34,t,t,9,10,18.4,21.6,4.76
4,337,829,4998,0,3,2.25,1.1250,3,28113,39176570800,Fitzgerald,Chris,NaN,8387 E. Leland Rd.,#201,NaN,NaN,Port Orchard,WA,99800,USA,77,932-555-7392,344-555-7842,1941-10-28,S,$110K - $130K,M,3,1,Bachelors Degree,1992-06-04,Bronze,Professional,N,3,58,Better,Better Turkey Noodle Soup,17979437708,0.75,8.34,7.34,t,t,9,10,18.4,21.6,4.76

In [32]:
df = df.merge(product_class, on='product_class_id')
df.head()

,product_id,time_id,customer_id,promotion_id,store_id,store_sales,store_cost,unit_sales,ordinal,account_num,lname,fname,mi,address1,address2,address3,address4,city,state_province,postal_code,country,customer_region_id,phone1,phone2,birthdate,marital_status,yearly_income,gender,total_children,num_children_at_home,education,date_accnt_opened,member_card,occupation,houseowner,num_cars_owned,product_class_id,brand_name,product_name,sku,srp,gross_weight,net_weight,recyclable_package,low_fat,units_per_case,cases_per_pallet,shelf_width,shelf_height,shelf_depth,product_subcategory,product_category,product_department,product_family
0,337,371,6280,0,2,1.50,0.5100,2,24852,49608572100,Hayes,Thomas,NaN,4351 Azores Court,NaN,NaN,NaN,Anacortes,WA,98752,USA,79,180-555-6028,799-555-6021,1965-04-14,S,$90K - $110K,F,5,3,High School Degree,1993-01-14,Bronze,Skilled Manual,Y,3,58,Better,Better Turkey Noodle Soup,17979437708,0.75,8.34,7.34,t,t,9,10,18.4,21.6,4.76,Soup,Canned Soup,Canned Foods,Food
1,337,987,5713,0,2,0.75,0.2775,1,24615,44806522130,Wiles,Bridgette,M.,362 Michigan Blvd.,NaN,NaN,NaN,Anacortes,WA,32333,USA,79,765-555-1071,262-555-5407,1955-07-15,S,$130K - $150K,M,3,0,Bachelors Degree,1993-08-06,Bronze,Professional,N,1,58,Better,Better Turkey Noodle Soup,17979437708,0.75,8.34,7.34,t,t,9,10,18.4,21.6,4.76,Soup,Canned Soup,Canned Foods,Food
2,337,826,7413,0,3,2.25,1.1025,3,25746,59118344187,Salazar,Vala,J.,3168 Limewood Pl.,NaN,NaN,NaN,Bremerton,WA,10547,USA,76,106-555-5276,879-555-5040,1977-08-03,M,$30K - $50K,F,3,0,Partial College,1993-12-20,Normal,Manual,Y,1,58,Better,Better Turkey Noodle Soup,17979437708,0.75,8.34,7.34,t,t,9,10,18.4,21.6,4.76,Soup,Canned Soup,Canned Foods,Food
3,337,765,1005,0,3,3.00,1.1400,4,25653,10070767400,Drake,Melvin,NaN,9471 Shelly Dr.,NaN,NaN,NaN,Bremerton,WA,74846,USA,76,954-555-4983,496-555-6576,1969-12-25,S,$30K - $50K,M,2,0,High School Degree,1993-01-20,Normal,Management,Y,0,58,Better,Better Turkey Noodle Soup,17979437708,0.75,8.34,7.34,t,t,9,10,18.4,21.6,4.76,Soup,Canned Soup,Canned Foods,Food
4,337,829,4998,0,3,2.25,1.1250,3,28113,39176570800,Fitzgerald,Chris,NaN,8387 E. Leland Rd.,#201,NaN,NaN,Port Orchard,WA,99800,USA,77,932-555-7392,344-555-7842,1941-10-28,S,$110K - $130K,M,3,1,Bachelors Degree,1992-06-04,Bronze,Professional,N,3,58,Better,Better Turkey Noodle Soup,17979437708,0.75,8.34,7.34,t,t,9,10,18.4,21.6,4.76,Soup,Canned Soup,Canned Foods,Food

In [27]:
df = df.merge(region, on='region_id')
df.head()

KeyError: ignored